.title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10% 0;
}
.title h2 {
    color: gray;
    font-size: 32px;
    margin-top: 5px;
    text-transform: none;
}